body{
    background-color: #4B4B4B;
}

.pat-nav{
    background-color: black;
}

#broken-image {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.containerBox{
	background-color: #FFF;
	border-color: #bee5eb;
	margin-bottom: 1rem;
	border: 1px solid transparent;
    border-radius: 10px;
    font-size: 15px;
}

.item-margin{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.log-containerBox-80{
	background-color: #FFF;
	border-color: #bee5eb;
	margin-bottom: 1rem;
	border: 1px solid transparent;
    border-radius: 10px;
    font-size: 15px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.log-containerBox-100{
    background-color: #FFF;
    border-color: #bee5eb;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 15px;
    width: 99%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.log-margin{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.log-table-margin{
    width: 80%;
    margin: 0 auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}

.carousel-indicators .active{
    background-color: #f00;
}
.carousel-indicators li{
    background-color: rgba(255,0,0,0.5);
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

